<!-- <p id="notice"><%= notice %></p> -->
<h3> Welcome</h3>
<%#= link_to 'Show', @profile %>
<%#= link_to 'Edit', edit_profile_path(@profile) %>
<%#= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>