<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Free Trial</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$1 / month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 50 profiles</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Basic</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$19</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 200 profiles</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Casual</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$59</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 600 profiles</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Focused</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$129</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 1200 profiles</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Silver</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$259</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Gold</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$599</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>anonymous profile</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		
			<!-- PRICE ITEM -->
			<div class="panel price panel-blue">
				<div class="panel-heading  text-center">
				<h3>Diamond</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$1299</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>anonymous profile</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>contact request block</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->
		</div>
	</div>
</div>

